*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

$colores: (
    one :#a1a1a1,
    two:  hsl(0, 0%, 0%),
    three: hsl(0, 0%, 100%),
    four: #454545
);

:root{
    font-size:12px;
    font-family: 'Spartan', sans-serif;
}